<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    
    <!-- Style Sheet -->
    <link rel="stylesheet" type = "text/css" href="static/css/style.css">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">

      <a class="navbar-brand" href="{{ ('index') }}">Pandas Consulting Group</a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

          <!-- Navbar with individual items listed out -->
          <li class="nav-item">
            <a class="nav-link" href="{{ ('aboutus') }}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ ('rawdata') }}">Raw Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ ('api') }}">API</a>
          </li>

          <!-- Navbar with dropdown listing out each item -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id = "navbardrop" data-toggle = "dropdown" href="#">Industry</a>
            <div class = "dropdown-menu">
              <a class = "nav-link-dropdown dropdown-item" href = "{{ ('banking') }}">Banking</a>
              <a class = "nav-link-dropdown dropdown-item" href = "{{ ('pharma') }}">Pharmaceutical</a>
              <a class = "nav-link-dropdown dropdown-item" href = "{{ ('tech') }}">Technology</a>  
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <!-- Header Image -->
    <section class = "content-banner" style="background-image: url('static/image/black-white-architecture-skyscraper.jpg');">
      <div class="text-banner title-border">PANDAS CONSULTING GROUP</div>
    </section>
    <br>

    <!-- Main Content -->
    <div role="main" class="container-fluid">
      
      <!-- About Us -->
      <div>
        <div style = "padding: 0px 0px 0px 50px">
          <h1 class = "text-style">About Us</h1>
          <p class = "text-format">
            We here at <a href = "{{ ('index') }}">Pandas Consulting Group</a> are a group of passionate individuals looking to bring stock market information to you.
          </p>

          <!-- Brandon -->
          <div class = "home-content-format">
            <div class = "row">
              <!-- Image -->
              <div class = "col-sm-2">
                <img class = "img" src = "static/image/BrandonJhun.png" alt = "Brandon Jhun Picture">
              </div>

              <div class = "col-sm">
                <u style = "color: white"><h2 class = "text-style">Brandon Jhun</h2></u>
                <p class = "text-format">
                  Driven to find the next big thing, this young analyst is making a name for himself.
                  Driven to find the next big thing, this young future business analyst is ready to meet any challenge head on.
                  He is experienced in many different fields of business ranging from operations and production management, as well as
                  E-commerce and retail management. And with his wide ranging experience, he is ready to take your business to the next level.
                </p>
              </div>
            </div>
          </div>
          <br>

          <!-- James -->
          <div class = "home-content-format">
            <div class = "row">
              <!-- Image -->
              <div class = "col-sm-2">
                <img class = "img" src = "static/image/JamesYoo.jpg" alt = "James Yoo Picture">
              </div>

              <div class = "col-sm">
                <u style = "color: white"><h2 class = "text-style">James Yoo</h2></u>
                <p class = "text-format">
                  Hardworking and smart, this analyst works hard to bring forth the relevant data to make those critical decisions easier.
                </p>
              </div>
            </div>
          </div>
          <br>

          <!-- Arianna -->
          <div class = "home-content-format">
            <div class = "row">
              <!-- Image -->
              <div class = "col-sm-2">
                <img class = "img" src = "static/image/AriannaFeemster.jpg" alt = "Arianna Feemster Picture">
              </div>

              <div class = "col-sm">
                <u style = "color: white"><h2 class = "text-style">Arianna Feemster</h2></u>
                <p class = "text-format">
                  Easygoing and ready at a moments notice, our budding analyst is ready to make an impact through her carefully crafted analysis.
                  Arianna Feemster - A 4th year undergraduate majoring in neuroscience, and a Data Analyst. 
                  She has a a passion for teaching and mentoring, and uses her skills with data in order to build teaching tools for others. Skilled in visualizing and synthesizing data, and presenting it in an accessible and informative way. 
                  Arianna is very excited to be part of this project and share this financial data.
                </p>
              </div>
            </div>
          </div>
          <br>

          <!-- Tracie -->
          <div class = "home-content-format">
            <div class = "row">
              <!-- Image -->
              <div class = "col-sm-2">
                <img class = "img" src = "static/image/TracieBautista.jpg" alt = "Tracie Bautista Nguyen Picture">
              </div>

              <div class = "col-sm">
                <u style = "color: white"><h2 class = "text-style">Tracie Bautista Nguyen</h2></u>
                <p class = "text-format">
                  Experienced and passionate, this analyst brings a wealth of information and ideas to the table in grab what's necessary to create a wonderful portfolio for you.
                  As the MBA in Business Management plus Data Analyst graduated from the University of California Irvine with a passion for condensing big data into a business insights story teller.
                  Retrieving, analyzing, visualizing, predicting, and playing around with big data is her passion. 
                  Bring along with rich experiences in Advertising business development in the past, good teamwork plus advanced skills in Data Analytics and visualization, Tracie is always ready to join any team and reach the Company’s goal together.
                  Her special ability to interpret the coding | statistical languages to business language that will make the presentation to the Management gone through in a very catchy manner.
                </p>
              </div>
            </div>
          </div>
          <br>

          <!-- Luan -->
          <div class = "home-content-format">
            <div class = "row">
              <!-- Image -->
              <div class = "col-sm-2">
                <img class = "img" src = "static/image/LuanNguyen.png" alt = "Luan Nguyen Picture">
              </div>

              <div class = "col-sm">
                <u style = "color: white"><h2 class = "text-style">Luan Nguyen</h2></u>
                <p class = "text-format">
                  Motived to make an impact, our analyst is willing to venture anywhere to take care of business.
                </p>
              </div>
            </div>
          </div>
          
        </div>
        <br>

      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>